* {
  margin: 10;
  padding: 10;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #A9AAFF 0%, #A9DDFF  100%);
  color: white;
  font-family: "Poppins", sans-serif;
  max-height: 99vh;
  max-width: 99vw;
}

.nav-link {
  color: black;
}

.nav-link.active {
  color:white !important;
  background-color: #62A2FF !important;
  border-radius: 20px;
}

.nav-item {
  width: 20%;
  text-align: center;
  color: black;
  background-color: white;
  border-radius: 20px;
  margin: 3px;

}

.flex-row{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  font-size: 36px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
  color: black;
}

.main-tab {
  font-size: 24px;
  text-align: center;
}